figure.c-banner.c-banner--one
  link(href="https://fonts.googleapis.com/css?family=Lato:900&text=THEKEYTOASTRONGIMMUNESYSTEM" rel="stylesheet")
  img(class="c-banner__bg" data-banner-src="/images/one-bg.jpg")
  div(class="c-banner__product")
    img(data-banner-src="/images/one-product.png")
  .c-banner__content
    p
      span.c-banner__text-one The key to a
      span.c-banner__text-two strong
      span.c-banner__text-three immune system
      span.c-banner__text-four Isotonix<sup>&reg;</sup> Immune
    a(class="c-btn" href="/") Buy Now
