figure.c-banner.c-banner--three
  link(data-banner-href="https://fonts.googleapis.com/css?family=Unna:400&text=PAMPERYOURPOUTWITHVITAMINC!MOTIVES®VITAMINCLIPTREATMENT" rel="stylesheet")


  img.c-banner__bg(data-banner-src="/images/three-bg.jpg")
    //-
    //- BUY NOW
  .c-banner__content
    .c-banner__text-one.u-nowrap PAMPER <span>YOUR <i>POUT</i></span> <small>WITH VITAMIN C!</small>
    .c-banner__product
      img.c-banner__product-img(data-banner-src="/images/three-product.png")
    .c-banner__text-two
      span.u-nowrap MOTIVES<sup>&reg;</sup> VITAMIN C
      span.u-nowrap LIP TREATMENT
    .c-banner__text-three 
      a(href="#").c-btn BUY NOW



