figure.c-banner.c-banner--two
  link(data-banner-href="https://fonts.googleapis.com/css?family=Nunito:900&text=ALLNEWDNAMiraclesNaturalforkids" rel="stylesheet")
  img(class="c-banner__bg" data-banner-src="/images/two-bg.jpg")
  .c-banner__wrapper
    .c-banner__content
      b(data-text="ALL NEW") ALL NEW
      span(data-text="DNA Miracles") DNA Miracles
      span(data-text="Natural for kids") Natural for kids
      a(href="#").c-btn Shop Now
    .c-banner__products
      img(class="c-banner__products-img" data-banner-src="/images/two-product.png")


